.gradient-text {
  background: linear-gradient(45deg, #666666, #999999);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}

.fade-in-text {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.text-container p:hover {
  transform: scale(1.05) !important;
  background: linear-gradient(45deg, #808080, #b3b3b3);
  -webkit-background-clip: text;
  background-clip: text;
} 